/* **************  Header  ***************** */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}


.header-dark:before,
.header-light:before {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: 1;
    transition: background-image 2s ease-in;
}

.header-dark:before {
    background-image: url('/assets/images/demo-bg.jpg');
}

.header-light:before {
    background-image: url('/assets/images/light-background.jpg');
}

.moon {
    width: 75px;
    position: relative;
    margin-left: 75%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 15px 5px rgb(255, 255, 255);
    border-radius: 50%;
    transition: opacity .7s ease-in-out;
}

.sun {
    width: 75px;
    height: 75px;
    position: relative;
    margin-right: 75%;
    margin-top: -50px;
    background-color: rgba(226, 226, 0, 0.877);
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 50px 15px rgba(255, 242, 3, 0.858);
    transition: opacity 1.5s ease-in-out;
    z-index: 100;
}

.profile-image {
    width: 275px;
    border-radius: 50%;
    background: #fff;
    outline: none;
}

.header-dark .profile-image {
    box-shadow: 0px 0px 50px 4px rgba(255, 255, 255, 0.856);
    transition: box-shadow 1.5s ease-in-out;
}

.header-light .profile-image {
    box-shadow: 0px 0px 20px 2px rgba(255, 248, 125, 0.808);
    transition: box-shadow 1.5s ease-in-out;

}

.profile-name {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

.header-dark .profile-name {
    color: rgba(255, 255, 255, 0.864);
    transition: color 1.5s ease-in-out;

}

.header-light .profile-name {
    color: rgba(21, 21, 21, 0.864);
    transition: color 1.5s ease-in-out;
}


.header-dark .profile-text {
    height: 60px;
    font-weight: 700;
    font-size: 2.1rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(6, 120, 197);
    text-shadow: 0 0 9px rgba(252, 252, 255, 0.374);
    background-color: rgba(23, 23, 23, 0.537);
    transition: color 1.5s ease-in-out;
    transition: text-shadow 1.5s ease-in-out;
    transition: background-color 1.5s ease-in-out;

}

.header-light .profile-text {
    height: 60px;
    font-weight: 700;
    font-size: 2.1rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    padding: 10px;
    color: rgb(6, 120, 197);
    text-shadow: 0 0 9px rgba(9, 9, 9, 0.374);
    background-color: rgba(208, 208, 208, 0.537);
    transition: color 1.5s ease-in-out;
    transition: text-shadow 1.5s ease-in-out;
    transition: background-color 1.5s ease-in-out;
}


.profile-links {
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile-links .rotate {
    width: 36px;
    height: 36px;
    background-color: rgba(23, 23, 23, 0.537);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transform: scale(1) rotate(45deg);
    cursor: pointer;
}

.header-dark .profile-links .rotate {
    background-color: rgba(23, 23, 23, 0.537);
    transition: background-color .5s ease-in;

}

.header-light .profile-links .rotate {
    background-color: rgba(233, 233, 233, 0.703);
    transition: background-color .5s ease-in;
}

.rotate i {
    font-size: 1.2rem;
    transform: scale(1) rotate(-45deg);
    color: rgb(255, 255, 255);
    transition: color .5s ease-in;
}

.header-light .profile-links .rotate i {
    color: rgb(7, 7, 7);
    transition: color .5s ease-in;
}


.profile-links .rotate:hover {
    animation: rotation 0.2s linear;
    transform: scale(1) rotate(0deg);
}

.header-dark .profile-links .rotate:hover {
    background-color: rgba(233, 233, 233, 0.703);
    transition: background-color 0s ease-in;
}

.header-light .profile-links .rotate:hover {
    background-color: rgba(23, 23, 23, 0.537);
    transition: background-color 0s ease-in;
}

.profile-links .rotate:hover i {
    transform: scale(1) rotate(0deg);
    color: rgb(5, 92, 162);
    transition: color .2s ease-in;

}

.header-light .profile-links .rotate:hover i {
    color: rgb(244, 236, 227);
    transition: color .2s ease-in;
}


/***** animation functions  *****/

@keyframes rotation {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* ******************************************************** */

/* ******************** Navbar **************************** */


/* ******************************************************** */
/* ******************** Main **************************** */

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 530vh;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
}

main::before {
    content: "";
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/assets/images/demo-bg.jpg');
    z-index: -1;
    opacity: 0.9;
    transition: background-image 2s ease-in;
    background-attachment: fixed;
    background-size: cover;
}

.empty {
    width: 100%;
    height: 150px;
    background-color: rgb(255, 255, 255);
}

.space {
    width: 100%;
    height: 150px;
}

.about-me {
    margin-top: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 800px;
    max-width: 95%;
    background-color: rgba(255, 255, 255, 0.752);
    font-size: 1.3rem;
    line-height: 3rem;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.about-me span {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 20px;
}

.about-me-links {
    font-size: 1.3rem !important;
    color: hsl(86, 28%, 44%);
    text-decoration: underline;
    transition: color .5s ease-in;
    transition: text-decoration-color .5s ease-in;
    margin: 5px !important;
    cursor: pointer;
}

.about-me-links:hover {
    color: hsl(192, 33%, 39%);

}

.downloadCv {
    padding: 12px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.752);
    color: rgb(45, 0, 54);
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    transition: color .5s ease-in;
    border: none;
    margin: 20px;
    margin-top: 0;
    margin-bottom: 150px;
}

.downloadCv:hover {
    background-color: hsl(136, 28%, 39%);
    transition: background-color .5s ease-in-out;
    color: rgb(233, 230, 230);
}

/* ******************************************************** */
/* ******************** Timeline **************************** */

.timeLine {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 50px;
    padding-top: 250px;
}

.timeLine::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 6px;
    background-color: rgba(255, 255, 255, 0.752);
    z-index: 1;
    transition: background-color 5s ease-in;
}

.timeline-left {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45%;
    max-width: 90%;
    background-color: hsla(0, 0%, 100%, 0.966);
    border-radius: 5px;
    margin: 5%;
    margin-left: 0;
    margin-top: 50px;
}

.timeline-left::after {
    content: "";
    position: absolute;
    top: calc(top + 50%);
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    background-color: rgb(231, 231, 231);
    z-index: 1;
    border-radius: 50%;

}

.emp-cir::after {
    margin-top: 40% !important;
}

.emp-cir-st::after {
    margin-top: 15% !important;
}

.timeline-title {
    width: 100%;
    background-color: hsla(0, 0%, 95%, 0.949);
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

.timeline-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-self: flex-end;
    width: 45%;
    max-width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 5%;
    margin-right: 0;
    margin-top: 50px;
}

.timeline-right::after {
    content: "";
    position: absolute;
    top: calc(top + 50%);
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    background-color: rgb(231, 231, 231);
    z-index: 1;
    border-radius: 50%;
}

.edu-item {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    gap: 5px;
}

.edu-item-date {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: hsl(0, 0%, 50%);
    margin-bottom: 10px;
}

.cert-item-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;

}

.cert-item {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100% !important;
    gap: 5px;
}

.cert-item img {
    width: 75px;
    border-radius: 5px;
    margin: 10px;

}

.cert-item-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cert-item-right-title {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: hsl(132, 13%, 35%);
    cursor: pointer;
}

.cert-item-right-title:hover {
    color: hsl(134, 30%, 59%);
}

.cert-item-right-date {
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: hsl(0, 0%, 50%);
    margin-bottom: 10px;
}

.history-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 20px 20px 50px;
}

.history-item-title {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
    align-self: flex-start;
}

.history-item-date {
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: hsl(0, 0%, 50%);
    margin-bottom: 10px;
}

.history-item ul {
    margin: 20px;
}

.get_in_touch {
    width: 100%;
    padding: 25px;
}

.website-link a {
    text-decoration: none;
    color: black;
}

/* ******************************************************** */


@media only screen and (max-width: 800px) {
    .timeLine::before {
        left: 25px;
    }

    .timeline-left::after,
    .timeline-right::after {
        left: 25px;
    }

    .timeline-left,
    .timeline-right {
        width: 100%;
        align-self: flex-end;
        margin: 25px;
        margin-right: 5px;
    }

    .timeLine {
        padding: 5px;
        padding-top: 150px;
    }

    .emp-cir::after {
        margin-top: 100% !important;
    }

    .emp-cir-st::after {
        margin-top: 50% !important;
    }

    #nav-menu {
        display: block !important;
        margin-right: 25px;
        font-size: 25px;
        cursor: pointer;
    }

    #nav-links {
        display: none;
    }
}
